a{
    text-decoration: none;
    text-transform: uppercase;
    
}
a:link{
    color: rgb(250, 11, 11);
}
a:visited{
    color: blue;
}
a:hover{
    color: greenyellow;
}
a:active{
    color: bisque;
}
