body :not(.fancy){
    color: blue;
    background-color: antiquewhite;
}
div:empty{
    background: grey;
    border:2px solid red;
    height: 103px;
    width: 103px;
}
:root{
    background: #333;
    color: rgb(251, 252, 252);
}
body{
    background-origin: auto;
}